# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Backend data
frontend/
backend/data/
backend/services/backups/
backend/prompts/backups/
backend/templates/backups/
data/
speech.txt

